@import '~bulma/sass/utilities/initial-variables';

$blue: rgb(37, 100, 163);

$primary: $blue;

@import '~bulma';
@import "~buefy/src/scss/buefy";

.dropdown-button-container {
  display: flex;
  height: 100%;
  align-items: center;

  span {
    width: 10vw;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.sortable-ghost {
  opacity: 1;
}

.handle {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}
