@import '~bulma/sass/utilities/initial-variables';

$blue: rgb(37, 100, 163);

$primary: $blue;

@import '~bulma';
@import "~buefy/src/scss/buefy";

.checkbox-container {
  display: flex;
  align-items: center;
  margin: auto;
}

.media {
  align-items: center;
}

.sortable-ghost {
  opacity: 1;
}

.handle {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.add-items-outline {
  border-radius: $radius-large;
  box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1),
  0 0 0 1px rgba(10, 10, 10, .02);
}
